@import "@assets/style/theme.scss";

#prompt-textarea {
  padding-right: 76px !important;
}

.recorder-container {
  transition: 0.3s all ease-in;
  position: relative;
}

.outer {
  width: 14px;
  height: 14px;
  right: 8px;
  top: 8px;
  -webkit-transform: scale(1);
  border-radius: 100%;
  position: absolute;
  background-color: transparent;
  border: 1px solid #ffffdf;
  transition: 1.5s all ease;
  -webkit-animation: woong 1.5s infinite;
}

@-webkit-keyframes woong {
  0% {
    -webkit-trasform: scale(1.2);
  }

  50% {
    -webkit-transform: scale(1.8);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale(2.4);
    opacity: 0;
  }
}
